<div class="header-image img-rounded">
  <div class="headline">
    <h1>beeThree</h1>
    <h2>a marketplace among friends</h2>
    <br><br>
    <h3><%= link_to "Sign in with Facebook", "/auth/facebook", class: "fb", id: "sign_in" %></h3>
  </div>  
</div>
