

    <div class="header-image">

        <div class="headline">
            <div class="container">
                <h1>beeThree</h1>
                <h2>A Marketplace Among Friends</h2>
            </div>
            <div class="fb"><%= link_to "Facebook Sign In!", "/auth/facebook", id: "sign_in" %></div>        
        </div>

    </div>
    <!-- /header-image -->

    <hr>

 <!-- <!- <div class="container">

        <!- STARt THE FEATURETTES -->

 <!--        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://2.bp.blogspot.com/-r4qLQgTBIB4/UkyjQwyeLYI/AAAAAAAAAYI/_Gn5naUdB3g/s640/week_37_inspiration_feat.jpg" width="300" height="300">
            <h2 class="featurette-heading">List goods and services available to your
                <span class="text-muted">friends</span>!
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div> -->

<!--         <hr class="featurette-divider">

        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://2.bp.blogspot.com/-r4qLQgTBIB4/UkyjQwyeLYI/AAAAAAAAAYI/_Gn5naUdB3g/s640/week_37_inspiration_feat.jpg" width="300" height="325">
            <h2 class="featurette-heading">Browse items your
                <span class="text-muted">friends</span> have listed!
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div> -->

   <!--      <hr class="featurette-divider">

        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://2.bp.blogspot.com/-r4qLQgTBIB4/UkyjQwyeLYI/AAAAAAAAAYI/_Gn5naUdB3g/s640/week_37_inspiration_feat.jpg" width="300" height="325">
            <h2 class="featurette-heading">Buy and Sell with ease!
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div> -->

        <!-- /END THE FEATURETTES -->
 
     

        <!-- FOOTER -->
        <footer>
            <p>Copyright &copy; beeThree 2014</p>
        </footer>
        <!-- /END OF FOOTER -->
