


<img src="https://s3.amazonaws.com/venmo/venmo_logo_blue.png" height="100" width="300">

<div class="venmo">
<a href='https://api.venmo.com/v1/oauth/authorize?client_id=1741&scope=make_payments%20access_email&response_type=code&state=b3b3b3'><h2>Activate Here!</h2></a>
</div>

<p>
	<div><h2>About</h2></div>
Make and share payments. 
Connect with people, send money for free, and cash out to any bank overnight.
<div><h2>Mission</h2></div>
To make the experience of paying your friends as simple and fun as possible.
<div><h2>Company Overview</h2></div>
Venmo is the best way to pay your friends. It’s simple and free to use. Download it for the iPhone and Android today!
<div><h2>Description</h2></div>
Venmo works on your iPhone, Android, Blackberry, via text on any mobile device, or on your desktop. We make it simple for people to pay for the fun things they do together</p>