<p> Dear <%= @name %>: </p>

<p>Your offer has been submitted! We'll notify you as soon the seller responds.  Thank you for using beeThree. </p>

<p>Questions? <a href="mailto:beeThreeGA@gmail.com">Contact us.</a></p>