<p> Dear <%= @name %>: </p>

<p>Congratulations! Your offer has been accepted and the payment process has been initiated through Venmo. Thank you for using beeThree. </p>

<p>Questions? <a href="mailto:beeThreeGA@gmail.com">Contact us.</a></p>