<p>Dear <%= @name %>: </p>

<p>Congratulations! You've just received an offer. Log in to your account at <a href="https://beethree.herokuapp.com/users/1">beeThree</a> to accept or decline.</p>

<p>Questions? <a href="mailto:beeThreeGA@gmail.com">Contact us.</a></p>