<p> Dear <%= @name %>: </p>

<p>Your offer has been declined. If you are still interested in this item, please consider increasing another offer. </p>

<p>Questions? <a href="mailto:beeThreeGA@gmail.com">Contact us.</a></p>