@import "bootstrap";

html {
	position: relative;
}

body {
	margin-top: 50px;
	padding: 10px
}

.txn-product-image {
	max-height: 200px;
	max-width: auto;
}

.txn-product-info {
	height: 200px;
}

.txn-status-options {
	height: 200px;
}

.align-buttons-to-bottom {
	position: absolute;
	bottom: 0px;
}

/*navbar styling*/
#facebook_image {
	max-width: 45px; 
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 49px;
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}