$gray-dark: #69686E;
$brand-warning: #ECD376;
$state-warning-bg: #ECD376;
$state-info-bg: #69686E;

@import "bootstrap";

//brand colors
//bee-gray: #69686E
//bee-yellow: #ECD376
//bee-gray-light: lighten(#69686E, 15%);
//bee-yellow-light: lighten(#ECD376, 15%);

html {
	position: relative;
}

body {
	margin-top: 60px;
}

.navbar-brand {
	margin: 2%;
	padding: 0px;
}

.navbar-brand img {
	max-height: 96%;
}

.navbar-right img {
	margin: 2px;
	max-height: 45px;
	border-radius: 100%;
	border-style: solid;
	border-color: #69686E;
	border-width: 2px;
}

.txn-product-image {
	max-height: 200px;
	max-width: auto;
}

.txn-product-info {
	height: 200px;
}

.txn-status-options {
	height: 200px;
}

.align-buttons-to-bottom {
	position: absolute;
	bottom: 0px;
}
