@import "bootstrap";

html {
	position: relative;
}
body {
	margin-top: 50px;
	padding: 10px
}

.txn-product-image {
	max-height: 200px;
	max-width: auto;
}

.txn-product-info {
	height: 200px;
}

.txn-status-options {
	height: 200px;
}

.align-buttons-to-bottom {
	position: absolute;
	bottom: 0px;
}
