handlebar template

<div class="user-product">
  <h1>{{title}}</h1>
  <div class="body">
    {{body}}
  </div>
</div>

confirm sale button??
edit delete buttons
status


    t.string   "name"
    t.text     "description"
    t.integer  "price"
    t.string   "image_url"
    t.integer  "product_status_id"
    t.datetime "created_at"
    t.datetime "updated_at"